html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 12vh;
}

section {
  margin: 2vh 20vw;
  font-size: 4vh;
}

a {
  display: inline-block;
  margin: 1vh 25vw;
  width: 50vw;
  padding: 1%;

  color: black;
  background-color: lightgray;

  border: 0.5vh solid black;
  border-radius: 2vh;

  text-align: center;
  text-decoration: none;
  font-size: 6vh;
}

a:hover {
  color: white;
  background-color: black;
}

a:active {
  background-color: dimgray;
  border-color: dimgray;
}

canvas.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
}

div {
  color: white;
  text-shadow: 0.2vh 0.2vh 0.5vh black;
  font-size: 4vh;
}

#clock {
  position: absolute;
  right: 10vh;
  top: 5vh;
}

.blink {
  position: absolute;
  left: 50vw;
  top: 40vh;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: blink-animation 1s infinite alternate;
}

@keyframes blink-animation {
  from { opacity: 0.25; }
  to   { opacity: 1; }
}