html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 12vh;
}

section {
  margin: 2% 15%;
  font-size: 4vh;
}

a {
  display: inline-block;
  margin: 1% 25%;
  width: 50%;
  padding: 1%;

  color: black;
  background-color: lightgray;

  border: 0.5vh solid black;
  border-radius: 2vh;

  text-align: center;
  text-decoration: none;
  font-size: 6vh;
}

a:hover {
  color: white;
  background-color: black;
}

a:active {
  background-color: dimgray;
  border-color: dimgray;
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh; 
}

div {
  position: absolute;
  top: 30%;
  left: 50%;

  color: white;
  text-shadow: 0.2vh 0.2vh 0.5vh black;

  font-size: 4vh;
}

.blink {
  animation: blink-animation 1s infinite alternate;
}

@keyframes blink-animation {
  from { opacity: 0; }
  to   { opacity: 1; }
}